body
{
background-position: center;
background-size: cover;
font-family:
}

.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}

<i btn="btn btn-warning"> This Wep App Is The Second Version Of The Object Detector...<br>So This Web App Detects The Objects, And The Number Of Objects In The Frame..<br>
            Enjoy!!</i>